snippet td "TODO"
> TODO (tai): $0
endsnippet

snippet nt "NOTE"
> NOTE (tai): $0
endsnippet

snippet fm "NOTE"
> FIXME (tai): $0
endsnippet

# latex
#------------------------------------------------------------------------------

snippet \lr "Latex \lfloor\rceil"
\lfloor $0 \rceil
endsnippet

snippet \split "Latex \begin{split}"
\begin{split}
$0
\end{split}
endsnippet


