###############################################################################
#                          Custom python 3 snippets                           #
###############################################################################

snippet pr "print"
print(${0})
endsnippet
