snippet ;b "Block of comments wrapped in 2 lines "
;-----------------------------------------------------------
; $0
;-----------------------------------------------------------
endsnippet


snippet modtest "module+ test"
(module+ test
	(require rackunit)
	$0
	)
endsnippet

